
@font-face {
  font-family: 'GothamHTF-Medium';
  src: url('GothamHTF-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Medium';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD/AAA8AAAAAclgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA/pAAAABkA
AAAcVENEwUdERUYAADO8AAAAHwAAACABEAAGR1BPUwAAM/wAAAumAAAY1MbcKfBHU1VCAAAz3AAA
ACAAAAAgbJF0j09TLzIAAAHMAAAATQAAAGAUOPjSY21hcAAABFwAAAHkAAACQlEnvflnYXNwAAAz
tAAAAAgAAAAI//8AA2dseWYAAAgIAAAorgAASqDIiVG2aGVhZAAAAVgAAAAzAAAANguBbVJoaGVh
AAABjAAAACAAAAAkB/ME1GhtdHgAAAIcAAACPQAAA4wVPy/BbG9jYQAABkAAAAHIAAAByK3CvmJt
YXhwAAABrAAAAB4AAAAgAWkEfG5hbWUAADC4AAABigAAAxrLBvPqcG9zdAAAMkQAAAFuAAAB9K+M
T0Z42mNgZGBgAGL+44dWx/PbfGXgZn4BFGG4wiayB0b/3/U/mmUO8ywgl4OBCSQKAFtNDIkAeNpj
YGRgYJ71P4SBgeXM/13/L7DMYQCKoIDHAKt3B8542mNgZGBgeMxSyeDCAAJMQMzIABJzAPMZACx/
AeoAAHjaY2Bi/M34hYGVgYGpi6mLgYFhGoQGihkxPGRAAg0MDOsDGBg8kMUYHBgUfjMxezHMYzjB
PIthjQIDoyBImEmAaQ+QUmBgAgDwcw4LAAAAeNptkzFoU1EUhv9z7lsErUVpLQFDLSmpmphUE0j7
GoOSRrSx0VakhlRosSAqbkoHh1JFKjjERaRo0NEliIMEFUcd7CBaEVcdOhSqYALFofG/j1QiJvDx
n9x77n33/udcqcL7yUkSIgdwSlYwpK8R1Hn0m9OIagVB2YYhqSBFolLGoM7hGMd65AES1LRuqa/o
MgbkLnw6g369hP36FAG9iogWMaBTzLnOvYpwZReOkyD3yJCzZFJ3o8ssI2464dePyOs3uKaNWiJF
5E07XF1HXpKY0gg69DPHL3P8AukkY5x/2NBPnJvj9xfQpzXkdA1+p8CzfEWvLmGHvsEReYsJnrlG
daWKhE7UN6g3dIRrSsiqy3OXeI8CIjLLtTa+gqz4MSr++rpmvHjcvGAux/Wel5+1efKIc1XskUX0
cC6j4/CZSXRrmnc7Q3+iiNHjmIzgGvWg/OAZGt7rMGJ6Cyn9QC1jp85ikHudM4cRl9uI63mEvLiK
nHzBsE6zNlU89u4dRp+tBf/fZG6IuXH6us962gqnA1utz57HTUiy/tv6TP1FNkwI4U2PW3DI87gZ
6/ET7mV9sX62wFSo1uPCv9DbVesr9TtZYw9G/vr7P92ev81Yf20dqHYfvYOw5NHrnIDrtHMN+8LW
ZrMPbC10O/ZybLRBjrwiC+QZSXr98RMB67u2I2HmvZ5PkaD3BmqMa4xrjBc5V8ZRWcVF04W0s8T3
Mo0Qicv7+kt9Dp/ThoDFvMOM3mdvEfsG/wBAlrOUAAAAeNpjYGBgZoBgGQZGIMnAaAPkMYL5LIwK
QNqFwYGBlYGFoY5hKcNqho0MOxh2M1xj+Mbwn9GQ0YkxmDGRsYKxjnES03Gmu8wrmQ8oiChIKcgp
KCmoKRgoWCm4KCopSSl5/Pj/m+n/f6BpCgwLGJYzrGPYwrCLYT/DDYYfQFMcGYMYE4Cm1AJNOcZ0
A2yKsIKEgoyCAtgUSyRTGP/////4/6H/B//v/7/3/57/O//v+L/9f9v/8v8Z/2P+u/13+q//98/f
N38V/3I/2Plg24OtD7Y82PhgxYMFD6bf33Xv8L1p7A9Y70N8SjlgZGOAG8XIBCSY0BUAg5aFlY2d
g5OLm4eXj19AUEhYRFRMXEJSSlpGVk5eQVFJWUVVTV1DU0tbR1dP38DQyNjE1MzcwtLK2sbWzt7B
0cnZxdXN3cPTy9vH188/IDAoOCQ0LDwiMio6JjYuPiGRobauoamrf8rMGbPmzJ47f+GCRYuXLlm2
fOXqVWvWrd24YdPmK/kpqRnXiqfnZt0pzGSon8BQwMCQXgR022mG7LJT89ZXJDPcPXiPIaf8elJl
Td+u3WfOXrx07jwDw7Z9txlu3nrw8GrJhcs3qpurWhrb2jtae3rvd0+aPHH7oRN5R44eKz15/DAA
o962owAAAAAAAAAAAAAAFgAuAF4AogD0AToBSgFiAXoBnAGyAcYB1AHgAe4CEAIiAkwCdAKQAroC
8AMEA0ADdAOGA6ADtAPIA9wEBAReBHoEqgTQBPAFCAUeBUgFYAVuBYgFogWyBc4F5AYEBiYGVAZ4
BqwGvgbcBvAHDAcmBzwHUgdkB3QHhgeYB6YHtAfsCBQIOAheCIoIqAjcCPwJEAksCUQJUAl+CZ4J
wAnoCg4KJApkCoIKogq0CtIK7AsOCyQLYAtsC6YLyAvIC94MGAxADIIMpgz4DQoNSA2CDaAN4A3u
DhIORg5UDn4OlA6gDq4O3A76DyIPRg9qD5IPyg/yECQQSBB0EJQQtBDWEPoRDhEiEToRUhF6EawR
1BH8EiYSYhKOEsgS7hMSEzoTZBOCE6YT1hQUFFIUlBTmFSgVdhXKFfQWJhZYFo4WxhbaFuwXAhca
F1QXkBe6F+QYEBhOGHwYthjeGQQZLhlaGYIZqhnWGeIZ/BoUGj4aihrIGxIbNBtWG3gbqBu6G8wb
4hvwHA4cJBxGHFwclBzSHOAc7h0CHRYdKh1MHW4dkB2qHdAd5B38HmoefB6OHpwewB8AH0Yk/iUq
JVAlUHjanXwJYFTV1fA7983Mm8k2k0wmLyQQmEySgSQkYSaTyb6TnayQhIQEQgKEbEASIAv7vqgI
LriziLhb/Kv1a8WKu7gVLfJZFT/bqp+t1c9ahfppXv5z73szWUnpF3nztnPPPffcs91z7pMjXDnH
cZ+Qs5ya03Gc0W7iLbzR4rCX3xSeE3Fg925y1iLlwtmhVfs5wqXCYfgPhFVRWKDAZvoDYuD+5dIX
4v4mfB+llj5kPwhv5ThyK8IHczMR3iLYTRbB4mSHw84Ou8AOAd+RW9tntGyY3j79VHD79LoOvA5u
Dz4V1B68+P1TIafgmSdaT+Bf6xOt9+Jf6xMcx3Pzhu8jheQKN4ML46I4LtxfI5gsjgirM0B0xIAj
PsHpsJsCRCHCagqBcIcPmPwDxHi8SwdSuH5ZzY62zLrqtSt7ltasWpSYld+9SvogxjbnL5FJsfEv
VbZqm1v0C+sLvV+e0VhV3qpNTvXOaJyn/+2MplvOqGJCzZE/W6J8n1bFIOfihv/Jm8nLnCenx7Fa
OTuO1l9jCY1AEuy2gHCwgHHUPcRHWEI1SIvdljDmeqChsGAJPWCZxDUT7hHXvcRFm0Pn0AMedF0R
v+LVrUV4LBvKJWeHvlXuICg6JTkKD+kV5QInGHllHf6O3EVe56Yhr6KRV4JVJsipEGXyF8QEp6gR
eIUiMR2MVpkycld9w/L1zdtvS+6qr2y9qy8ivCEu9tbosPAYR2KC6p6GbHuuPWtpfVf97szigqJV
TYWbkweSSucty4TesOjYiNhk/3jpoWOzF8xltACVIyZzKo4LBhSgVPHgckV02PuM4R7YT95kUuYD
OGdCmCEc9nesWNHhkL4CExnIP/3x6fyKO8jsOyh8HMIPyPBGp8qgtqYjW+McYJK+cmAjMlBx59CH
d1bQRgx/MmyBXvJbzhdvBKtocQpWp9UpWu2CUxSQ5hafPJ+WsO5u1wX8La1wYKAwzWZTzogjn2sj
SaQa55wDlDIUbRQ9iwOE7nPnus/B0eef78J/8nhDh9dw57n9lD4xwYpyb0JJDV0i2HeXlDb6lezv
rSjTULhE7iosgy6cLS7c7DCjFHwAs69uZDhy8ZfiwHd2xHB+9+799Pnwfw9vI/58CH0OdhS0R1dL
qav5kJ+Xo/4lDX9P7sY5FzgDwho0syIMCbP84iOYwNnI3Y9K3z38KPhENh9vaj4OP0pvvfs7iH9X
irx0+KaO9sMy7UH4E01e4DSUt3Zfi68QdLZ6YAvZnTqUQXItDGYe6nkUeZULxJtQjYDsZwKl0YPZ
ZHY401EVIyA+pjCqJqFn8eot5StvhgWS5u9FSZmk1ubMLcnvbSxdU9XX0fR2ekWMLYXhjELao1FG
KE7khUkIQe1FkUXlRlVBhFFghe3Su/C7l+p79nc8uKK6tM2RW12c5E8q2pe87rW0fvmmwfIlKXHx
SQuQPJR6jmzAcXhw3pRTvvKEma3hvjw8vLqlZYN0TIS+L8gLUtaKe++t9abCQ+mIRTrsSMc0Kqs4
HIEqyxhCLKFCoz+clF73dCZ27L1p/S1dJXV1GSVl2RnZsAJqOk/5r/tgR/vihTnOhAy0g8q8LMJ5
EblQKoFU3wRZByleZrnsNl9lnrATkpJdVlhSoy5Y2nbwtjV9xZFR9x5aX7attDwrs4QMLE0bbM7b
sGr1nsKozSseuiQFJMwviHcWFHAuuSFxSD+dP2QjSkgu/E16+QAkk/KOhqETpFy2D3HDV0gezqEf
N52LYLZ0xDww6xBgdQlOgtF9RfJuX997dMvKA+8dWLnlpryuvPyO/ICFWxaW7yl/sWHNmrqNjoRV
FZ2dFasSkt+MTEqaE4N26ce4lJS4mNRUjvEiBXlRg7wI4GYpVlNmrNNtL8UAgZkk1l/NiYODK3JK
K0vq+PSVa/cd6ekrWrSrPDuzuHTHAuh+7L2Fjdn9zUX9K1cfKFq0ILGoeG1eodwPPb1DDDhSATmB
GuSLxzu78Q/27h/6dj+FsaKeyjDeMgzv1laEfFBWWAp+xKW0wOVxC4iF9DD+hptQbMLz4LJ0N6yQ
LHD75Z5jx3svs/6ruUdJJDEp/aMg0f+q4aIUTQ9iWntgLZuvBsSXLOMDtWMuONQkGVGtQJSXIdKF
kDC9+Ad5hTOiFHFGRQ6tCS7Fs1gp/ed+ne5YXFS8/FDbtq56jwr/zXv2wC6hLcpRVr6mq3HxckPF
SWn7fkafY7iRP4bzYOPSXfMwMgNoFhVRdIz4K3QWllDOEc/ZbSFEPcqP8cfWVLVG59YsaD2wuCHO
qylaHRmWWPLF6Yc//+LMzl6/wZt+O8xxw8/U3d+TKz2VOjexKjnOWQWpfdvz8lYvbD1SlKr/OcTb
HNG+/KYP/vLgQ1/khBRzw08/BSS78+aKuNQl2fakBnlOQ/Dnn6jTAmo1p8MxmwX0tJ4AL0P8jnzp
6YItEH+mv4+8MJTx8MOo2YsgUPoSZ6AO251AnfDiTBg7cCDLN9U+sy8oxsVkpBd4hlvbNrUcvGGj
dBbMafmZKU++lZl/80vkbFPl6vjYTQ0t5Kz0h3mxUbG/kT6wxS49R+eQyvSzTKa5cB9ALhrovIiC
LMVUuMmzKbsa7njrrXvrtyaWNa5s2bmrOXXJvLXp6e9C3O8THfU1h947PDeGjpHS+nuk1WXDkUSz
zUgp9KWW4ffv3i/9BOr7y/d0HjjQuQd+kC6eR4pOrN4jhe2mtND2K7E99VMms+s/X9Ik9cJS6QQc
HvqenO36VdfZLgRS4JvxUueGR5tPmqVuaJKODZKza59fK/2ZgirjfAPHGYzjHAlvRCEG3DKCLtFM
3tj6wMnzb99TuympNHpxxrKdu9qW5/8SIps6377n9vdj4xoiwg+v6rrRsbNd6f8+hV7atd3XjIeF
WKT/NzgIpXhYpT/gCC+DZSgX4ZuQko8RnqfRq6+laRBpHMqVbZ9p+Ap8iu+8FXummGxfO3y6rf3G
qoqsEnvqlm/6t66rqpyfC29yrvG/KvePEsVjQIndo2e9HeJu+59O7H7BUTgkrYOUtW8iFcdhmdJm
PouhOTsl2FQ3CGuRjKfWci6cvAeTNw4wvqajwrgHB3Xosuqj/p3vv79zEK5Iv4ICyQtxPg3FbAAy
3rPyXIRTJgBtSXL6V0lb+rs/gM+GcuE7yYdOBrOjvMh8vX6cr0e7yYsXpBffuQDpC/a+s3vvO9jZ
exffg5iL0twLR26+cMQlZ32IygMtCtV/lHwLShq1vXhJRa3vWP/BQfAfuHlzRd6hQ/Mr4d3uLX8k
Z7d1pWX9PF+x5V/xs5AGbyYRohxiIhlUvTC+ooolKwC5UF62cOmGY5Skd37oK+sPo3StytmbW1uc
TQl772jfspV1Xc4FraPpe4zNJWqV2WK1yORR2+x0k/jY4cfuGoTE/oN1CyJL5v/yqezS71G6N65a
2GF6Jyn1q0wWV1zBNcOrnBnlBSPL8VGFy/vKyvpiTnNv54G1D24uWt2blJPZOLBmz+qbu7KbGhxp
RB05N3B648KmdWtr6+PmzI4JCKldUr+utqEgjs3dbKR3GdNbjk6bhfreHZs+IYmkaOhXpKi7G2HK
hn8gpxHGQGFkh4vTTP2cw5ecPn7jwWODjacbUCR67jxx3+1wi9S9rLVlKdxC8YcM/0QuyH493EgD
Pzv0v7dbutwhXd53kgRhcPYCoyNs+CdVIsa6XgwOxY63eKJc26H8sdbHHtz+fdtjj7V9v/tpohu6
SoShDLgq6bAlcOFI/1OyHphpC+DtotPOk6cO/8evb+SGfzj8xC9u/B500lVogdqffpIewTZ+2OY3
2EYrjxlod3Bqk/TXwy+/eiOI0l/AHx6S3oAEhM1C2C2KnaHxHQsV4RNpLYmTmuHeoZdIWWe95NVZ
j7C1w1vgoMJLqo9ok+DguXPS2+Ts0qFtS/l0jIN/wDg4VI6DjUhtI7yMgTCNg/n7FFu1BdbIOIxo
Qqn/T4F46a1z58jZn19cSrbR+Bu+hrPkOebLcZFqFy0/rqw/Wn20gazbdeEC0+VhaXgZqRv+Le1H
QJIJWTJ0KrtR1vNNpAoWkquMBpT3KwNdbaSqZ94pKr+zca4FEohxZATlqIPOdhowURvtuwUHlbsZ
IMd9Ql9me1nnhmUL5udkFJSZl6/qWb8+IScpMzk6rSyrpKaEVNUEeDuTzU3Rve0DZtPc2SQsMl32
jSXYXxf5EPUF4wOOyTgzZdiLcSSc6jrS0pnX35/X2SLWZmTW1W2rgT0/39ZQST6UPmmWvi5pXHr7
0gbOFQcHkuARnzZKTWRTTwKjVhSsv+fe9duqijOKsmoWzy/MrImzH+/uOVlfkb08v6A5G+mah3RV
uehS+MAwoWVzxRA2UtWf19V85HBLR0H/xrqMzNrFW2qbb0PCYPrQn5GiBSWNdIyUphikyUhXKc4Q
UGKSkRVtuJm5ooc8KlNLs/Ir9/TefWRt/y4iDYJek5fsLLqckZ+R0XxXf+/x+wd0geVppQtkncGf
dvIptYRGXCcw9bU74pFIE1Jo+uSGA/05OSftsdZZecSrRaqFh1ZEPO6z0rucja8Rx0f5hBYm3GBW
TEsauAfqsLviWTrFVdJnu1rn1i2vqC5es/ymQ01dxTjirMzqmozM+g7pu4z6xKqyOU17/7Svruyb
rMqKHZWVsqyVIAMikI+oc0ZfZWIDTHjFcL/S35+xsralPyXBkQ2R0iWcz88auhqkMxCdnpNHeVeK
WC6QiyPxMI9ILuzYoervJ009Q9HEwORo+J/DDQqcXoYT0EKhMDmQegfCb+6/K2iWnyEJG7089Jd7
1E18ppu+ZKSP+nGjxSr7Uacdmv5ww7Gi/v6PboEk6bXPFhxFykr+ivBV2OothGfrW1/7W0jGhwoe
fg3yk8ZpI0NEMRl1tpvwDeHzO2qW9yeuTGdHf/bSLvhtQ9sy6RcQnZE9P126BHPTcvLTpP8khvL6
UTwMdvPQNDUPDZWjWajI33Jsr6OSwrkyPDY/9/SS5Sf7+46f/Hb2krz82vq8Ahj84gTVB+n+m5ub
bm6W9XQZ6mnweD01XZeefkfO1I5WUyZ/y5j8MXzqUfrlmFq/jv+TKVil9LhLvxh/YBsJonPolIkS
TTJjEncKlcvPnyeGjXs129oprBljrVfINJZbGvGoaOGs6FN5xdIJLuMmouflTfBKV/WmloTqGmtU
sldcWFxCcHvFqvq4yhyL1ZEo8JY4x/R7yqvLKrNmBhFzgErv4W9JCCOFtanVthmBJHCGHwFPU1h8
qJxjuQod5ATTWV9/tAQmJMLBFJdmZz7JsobFpd2Rk9N/E7qgoWy/5uC7IaD18OFWuoZDmzQLBd5P
ibMcI66YpuUeHCUIX0Dk0LdUDqBcuijLAXBBwz+jXzcovpin3jXy0NYPOv+w4wbYNfQ34o8ws4Z/
5tOIH4sBR7xwMMCfNnT0P96xYWPHo5va1hM/6VZoG/obrJaOEn/pduhgvp7JqcGtSxYjc8bQ/NKu
Hdu3v/jsroGB7aCX/v7rX4MXqJ54QqapgdFEYwueGmxlWU37JInvzSrNzE6ZEx4aFKr/ePvt+4lh
6I8VObPq/INDiUHqg31sXPHU4SGOsT56hfQhnJN+B/MkBzzeXCWdbq6isMM98DR5k8Y9wBKtNDJj
0RVNugosrGILK4ccaNHsLDxdbSPx8SiZtmrTjiZiTw8KSreTph1kMNCZ7OHwTMz09c1M9HR4JDsD
ywMbK4VEXYp9iT1FlyhUNgYyGtcPb+MuyX5fRBG91NS0DT0+cDak55cyPSJLQNEOXVRYnS7KUsAk
6wQl13YNctKuixqMMbjP4SnYxiJo5iMt7mwYZT085WuPDlmuN4meOe4r6MhMmy0GmzJT8Zcbycfz
Sj7egjbXaDcu2r17/00ROeHk7P6hty1wVspF2Pjh/yVB5EWMti10BSaEomjIY0wBp11gmW8+wI6T
bpFz3ySodpNWZaj1L2u+t1enr/XLcBZaZ2bwQk7qUZJRGWN9ugWgZsWMGxf3nChZ7JdaGuEpPQeq
VDDyTfPtFSaam0VZrMD4OYjmk2SlZj52BtCMGsv34Zrvpv7OfYsaZyTNtiX9+CPMH/q2rAy2LOna
srY4PCwneXHro+2lgWdamYyhDT2Fa4a5sndhzFJQ0noBTUTjifr2BKfImEpTMjibO0obZ97Wuqgn
uiE0z+YoM136KyF//cC0MDk2N6I2tqe8884Z9QsADi5avXV+xvzY6KykRdMN3tMXpeTGzMvMLdze
scg7aKbsS3G+yN3I8wAaX7oyuXZ68CxitpvgyAsvbHjhhReO/fehZ545+OVx0BYuXrlyceFiqJc+
gnDpgcXU9ibj2iIdeWPlnHQNJQSMWlsoSwvn6LiJrT8wGLAqdllkEUF6u3N1/Y1180sWzZ6TULph
+bjbzoSMglmWyISMfLMlEhprZ1jScsqX5uYHx4T4BWc5x90XiLMMfjMD2S/zD4sxRr2bnJf9PlB/
jgfcPTj4Gq6cqzZs2IBvHLiW1LG1pC+NVt2rSQOl00BjPbdXGRX/8bqL0nvvXYSYx36z/8CzeJiy
Fld2dS2sTYu1xdtzcm0JNvheunTpIkRekvRgeO556dvn3sxdd6onJWFuUYKjOJbmIR0QBDnkeZyL
INo3KMZYCZSVONlkRHNkdYwqnWTkWpKiU7KcYbPzLHFGR8pWlfQd+OTPnBUSOkOcFQV3hs6Oi4qJ
81SnGROmDUjvJz/h5xkY4C+GUp5Ec3PIHPgS7TfNDYsCrlwdVvkEby/ZtWvJA9X09zR8GXvmydiP
tB/LJ+SMagyvZtKK10RuGdG0iPKK1U4X1PJidQK7ZsXOWVm9pKzg4ZyyouLGRsvsidyC2+Ymex3a
uRMGs1JT+2jClCsjtfAAeZLl/2nN4AHpEagmtUwe58NmOIL2Qcf5szW9HJ7QJb2bb0dW7Gpp2bWi
wFmekIDyRWZlNzVlZzU1ZVmTkqyzk5KYflhRR+NwjJaxeZRR1pzOi5L1FwJI3J6eB9oXlXcm51QU
Fpem5WclLiyuntdb2bG7dfD1ho0DZXXO2Lj4VmdMVHxtXkZ2W2W3PZb2cxxls09ZP1mcotTY1kWq
Ts1Tcgt386VIg57GNUA5arK48wvEnefISPrFU71pWXJmYbuc7VhadoP9Ce2aAJZYkIaVlIe8RodL
LOdBKwKo9IxB4Dy2yW/b8dtoHun7jZ1tA0oe/RvuPGyktDnl+ss3++nzncP1kIgY6HO7YL1cX9zm
8YtoOacejbJch6tpuS44pibIUwEeXfurq6FBPx6C9CnMyoi1hEXTg0Rm1mLEV1srPZn8fjgaPjzk
fC3KrM0ls+GsfmVSyye4gUmrtJSJ7pyYM0/Gfaz9SD6xtpHDV4ma+RhR9jHiqIwuJTAD7OLne/b0
jUsfo/P5aWz2WB4ny8Pyd7E8rM+YTCxdBo/LxpbSVfGYjCx8ytbIU+KxTMBzmkrHODxMVlx49jI8
vmPxyMv6caj6FzT2ru1dNhYbCc05coSbgC9kbKZ5Mjc/Fjk4ma83+IteOe6rcV0tQe8fMN0fI4GA
6WhT5P46FD74je3RZbLH9RIsW/BxDJHtuYyvm+kOree5azoyWk7RHoq9IHZ+3fxYiFRQPxpuCw+3
Nfb3kccsjrlZWXMdlqGF2MFf48PC4sOkcpZQZzKFcS1/GWVKT72pE2k1j2SbHZ6oXl82bIW9ZL50
AAqlZ2BQ8vA/8zJiknPPD2NQ/gqksDxNPcudI51qJRc3JnOOMYAerIALlnHJ8zLn4MLs1Wrx1d13
jGTQy5PTVHdFu/KHK1G2qC6OyYRTlRmdDf+ayqcrI57MJHPK9uGWse1hGhVMNwImku72+7C937j2
skiOQcEpAunCspmKIq/g6GA0GMdTIYvFGDQnZZlw00Klga7p/5fmzHEs8tofLR9V06bBQSMb+lAu
uUKHTWhuHXLHwFkY3Go2QgpHR0eG/4FwxTg2nlpSBiePCUHTXCMZyuWTZIXihyWEz8RxULyeLswy
/djkvxSqKX5KMaGxIfk7y0UGKrU7sy2AlkKo7TK5XFFfcTGo73+XFkQGzpw52LlnT+dBmNMF4a9J
F8/D0a5f725dvcc9F2dRn3U0qzCSWQ+fRJld2XbYNIkWj0rB/2q0BlObwfLxzJaxuZqQkUeOj8vK
343cH5+ZJ4dlAfzX+CwT8Dlwlibik+XRhW8fwxcwCT55BsehXC3P5gSsF2X5lHHuZTgtE3EaJ+Hv
uA4WTcLl8b3x3mN5rVL67VB4I07SsyJd43pLYpI2kUeynvCcHfHORFtklFdYclUUGeOqiuISSwnd
xfB4K7Dap3jhWHddXH9zvev8P0n5q/bFwpOx0jl6BUuPXkx1rG0+JJ9yrUdaq3JurcqRjlpZnYPV
BPjbcN3uP0lVIBbQ2LgrA5eYvo6vDjjcNmtqXFbLaFwHmU5PwIXi4sKzF/GIk+FRDJgb1ZMunR+P
bRMzALyCr53RFTgpZYoxc6PUKzZhPMYkeaqQRlZ7wLFqWYbFVX2gxtldgZA+ohoxqgzhUGJLV+2L
1oPdtS+7yT6h+jV450j1q6Vncy+a1q1daVlDeUpOdlgiKeSPbLebvPqzOljuwepwFc5pcpG6NOLb
dcetW4vKq/LXOWNs6X3bupp7SdiatPitTW2qBpJoj0vWVToXRTvykiUNXOnc0o58k2sIV1kNIfK6
qwjU1ExZSTiMYnTNagK8QsXp/9y35V/0XYhTMkXfdIJcfX/O+p57/X0rcjlV912yqF6TAqJVfJZC
w2eMhuTrpmEykzclQRWy2TMFuAwgXl2buqyxcaNM43lljmKun0qXvk1FWTxTwSnmiqqiQgM/l9EQ
wyVcNw1+dHlKw1LFZE9JixqD1Pl1viw4vTZ3Guuysuqy9lKgcGUOv+f3k2AmRUmj9yyMIktUSkdm
dzmJl4tIozIdEfB2e3f9KNpa9tnm927cCdImj8qUsqz8hbu3BoKBlpiKN9uzKM0L8w2li2vKKl10
1tTdP2DyYuUnSEorXbDPb+7siMjs2UqtrZ7V2qZxnDimHq2s0lgI/L9168aU2grn1GdktfHikWUj
9baCuTaehr84drlWdpXVykKmrJbRgPiaFbNqtBUTq2Zfyjbi3+jDMkUfD6FNmKQP2RbIfXzO+jBP
2YcShF6zm62y7k/sCaKY0quUvs4r4wmdsjdXAH7N7sDMFGiSgbl82PBXrAZ2VY63aRWMuvu3+vtX
UT9vyHH79SqarxgNR105whmpDzfkUJ89/GeESUE+sZicwcjsQLB0xT8b9sj+ePgbhI1TcoKeMrRT
GQ6Ct8i+15Dj9rWULxXkT+i7w9gOWqfVTreIuTZTyLyZOWZrc9LGuP7kg4HNsSsXx0Qe3dJz1+7m
/NzE2vm5VbU5uYtIiSPDUWaJyojenr02e929d3Su3jXntcyaRdmZ9XVKPZvVQD5DPx8xabVuspX4
mAqebRLLOqGsB63j43i5xneV1fjEyat8zMGOq/T10WB+bLUPrrhi+evBaZmIM4iGL+NxuuJ5Gefn
DGfQNXAqDnEc2iIlqB+LmSTJMb2M9zOG1zo53kmd3LhOeifj/rgeu8fH9XLf5xU+BV+jd5fzGtdj
rRzcj+eXK7afhbjXsb0D1xPbCywzjz1U5YZ2lWed7FuYY+mqyD5viS2omwYx0z4MjyqoB23Piaiw
xSUre05GRdQXRwc2F9rn1MXP+XtgsyzDcp3xB5ThgEkrjVSQxlQbb0UpGl9xhIfcduBf4rOMw1eO
EjQRH4vxZVyfI65pk+NSMmej0XXLkjMB49dKnC/jPM/oC5oUq2vyxqCNYzM3Aesjbvsj1zZ/UNY1
46ubbF0zocLZymzjuCpnFstfKDX4/+Neme/4gbF7ZXiFvvPu9c14Cl3GdSKVvoqtHUcnM72uPRKG
0XskaHmX5Uea5X2Oc8BXcDjpVguTYDKTZslUXDzwxhuwDgICukWwS9+ldqe9Ke/vAoe8P4NaU1ej
v/SVlPSVQIn0FMwRe0RIlz4Xe1j+HRXSj+X3AmkvbE+rO/0U7qtYepXf0L00BUMaR/J8nTQT8xpE
n6dpKAIfK2kY2bbwfyT066AIzjZmX1GA6KomjMRhEU4lEBvlV0iwpSe3+/jJ9TnrLLPaMjegv93k
UcVCsF3z14WAQZiPMdi2uty8anqsjE8/sa7nZFp8fNqpfl0gc8WpQ+kLFqzIb2kqwEOWL7ZHkN+H
8cXs69klaERjYbHap9gsqIQaU+wZhBnZR9j6X95H8TkXTb8iuu6dFLxMwnVsqHhVJuW69lUQdTbz
AfLaup2trQ2jVteudbp7hf1L2eaOWmIrC3Qi7/dDnuoYhpHdBArhozb+gUXhlrIBkHzFWEPr3Ww/
wufjcSj8H70x4WvFpyn7E0i5jALlfs7wT/AVeYHGp0B5qKd1a4EpKN3SlEHz604qfCJ8NXuGJULr
tfVwhM/C0jB/kzHd01Le5KevKHNYSblH2JzcFb8vz1M38zkvrGgoXeDJ8JeSKjiNNI7aQ6gM5/Yc
Fw2jYWTaf1Jg7nfTWUYq4AE2VrqXIDTCag+wOeEBdcORBnWV/z5/8nleaWleRgaFfRbxJZE3WA2Q
TkfSli2kaqMsy/sQTweux+R9weMWWdAhL6TCaDqf/G3segm4M8NLoAvjRw+6VkJHaNLQL0LApFla
36z3EE25mkRNcmIIDQK5NFIIz2CccK29D89MEgCQ3432+IRLxHG86IprAc24mjqwgrq2NulCXWsb
rQX2uPLp9HueP5NP0cLSKt6oXXoJrm166km27pFqtnevqjSebt6T9k22k6+6hm7lmzFmX9/YOu90
aj0nrfPKmaNReaMJVd7Q2pz8ojtzy4rnhBcWhkVOUuM9kJHbB5vyUmeat4fJspDI/QgfQIf7u7AP
pGVw/Mce1zu+aOQdX/TzN7yf8i4DTnNfoKzTnSQauo2C7oH5Qv6MhdzoW3JgvfwNixVOcO/Ie3GN
7i9erMrnLu/7LtivwF3fd2yE9gvvsH6pNLh7FtxX8M4STTw2+mgcLfEumgilCX7FaKI4RqhyX4Fe
bvzDODrjXfQSSi88yehFHOrJcHiMweEag33MN3nfwHJ5H3QwWIyCg30maPpSV6Ab6Pcq9+onIH0N
Rl2+bs8eXb48X9n404FtTLQySz8vxEZOV0urKDihgzXt12r73RebGQLd/fcrqOgV4mrlfg874WvK
czn6pQIOO6tSkquqklPgrt6qqt4qnH36nddFbo9rDWfGEaqVg1zcsUP6UT720D8OYeKG/6m6R/lm
dRrK8zwujX4jNbpG7bSDJVy2GHinvo4vWMMn/Zp1qFnimlXhDUfq2besuyd+1cqHuq6k3ZN93/pY
8epVt8t3k3/jGjXqW1eg+zkghtXGOaO8jeO9Mfs3KIwDYRJkGKdcNj88ulzO9nr/Zvg++IlccX9b
eWOXNLeLXPn5IRqDwj5ykOWMaQyKNpwqvki/kAyXtw+ZSOVSzdKkjIaGtCRpecrSH0nzrbd+BPFH
jkhvSZKUkCDHQKji/FnFjkX/G5YM6KcgU1izTwYGprJoQ/9Jt9eiXaP9n8P+eYzrork42YOo/x0q
+HMoWrdPTUlTz+tT0kI3G+dyK4aP8i3kG6TFgOuFaJyjLK6AK+fquW5uE7eTu4G7lTvBPcE9yz3P
vcT9F+ggFuclAzrhbngNvboHiSPxJJcsJm1kC9lBbiKPkt+Rr3kvPohP4tP4Gn4zfz//PP8Kf1kl
qLxUvqoA1TTVTFW4KlplVyWrclVFqgpVvWqVqk3Vrepj0bSZpxsu5eQJ+mp/pgOoAnq6oZuuRFko
ZvK32+geZwcKkhNDIrqFzG6yO2gDvExADPSzd+rr2b3J39XePoKAbpwb1YPSVA8KWouyMc3CyKFP
kKJr36j8Q+Nn4YFxowZXtnbsaQb2iUTFWWk21hYwEwSHBq/sDssMiBMDZuDUJ9jTwGJiNxoBYUPT
UCKxlZU1SkBQQUxIAUSFARMii0/B0DgK45NYEES7GkOy0V8CWuOtCXTTFh0d24Jpt2FIH8EGi8E9
jt9O97wpEOH/HrQmFiKQFKtFTJgJFuvIdQC6YdFuxfcIz67NVjewyR6B5M+kEUosWER6JwON4EP0
IkaEtKEzwYXCGW+NIWxgSIEtBMRQef4c8aHyWO34w8bvoDxmhWlmBqz0XrDa6UlUnqIzYBsMQ11b
UF07Dl0t6b1pPDfD8VKksiJS/XON0soYJaqvY4j0jvLHEiqDOuRbu43e2oVQFwIBmWl3IjNtM4lT
6cjC8DsZdwLs1qmZJfMBBQZFWqBCjmcTipTdaUKpuj5ZsjIx1IM1g9KJw0GqGJqZYA9wOEUapacA
5ZMMxl4iGIqMLLdOgU6NzUqv4/ElpRSViZJpkv9HEbLsm5AAOnQFOQWhKpKBFJpYRKeOF0w2K/4E
0B+baBWcDHM4+wUqBsh/DZVPm+vk1mK1JRTHJShAI4/ZQB34CldwNj1DguIuUim38S1DQIZ1Gt6D
ePAaDXh7Q6yv4OEn6OKAF/w8fVSE13h5q2zeGh+Np86qMWjwX7SvRgzTqHx4jZ4ECVq1RhTMGoTW
ajREJXh5E5VOHy2jiaWgcuNQL41XkBd4eoCXRvAAD8F2zRvi1Eq1WggGEsIDUWl4QAsKGjWAQ6Px
U4Evu8cfNV7F0qsZBAlVqVRqIISeeYQlJAR2DVWRSNFHqw/Qa/XtPmqTt1rFCx7EoNWoNYGIHAnW
GaZJH17zFfHWEgFUhMB0EAiPL+j1DHA9pVfup9Jz7udzVeCD5PAqlQaAV/OgU8lA0g8ukGB/o44I
PAGjF+EVDK94q4jOR61VqzxUakHrxauJh4ca/6m0KngUR/P4LWGePhU+nocqPPV6j3SvcJ8KffgZ
H59lpqAgU4i+0cfnxjnmwEDzHPI4Qhe5xj70D8FTD4KPF681IMGEp8Ph1Tq1QLr+Nc2Ps2Gq1QYf
jYo+CAQdUanFQLUa75ZpeGyOw/CZoWbQJmSUlg/RAE9vOrEfLe8JIdMCvEumGjrRIsGzNRoPyny9
hp829dza9ARAp1ZpgpBgXtASFbLOG0Cro98mAKzC9wQlUq1X81q1r1obN3t2mlrt560TtJ4Cj+OI
QGHSEILs8FHzHt6CL/arxc4Qb4qnZ4Wn505Pz0fU6isBAdKdeFxV6w0A+3mtSi19TH/hPk+dAf9J
H3t6e3uuZa+fUR49p1J76pFb5JSH+jyvFVRZgYHkm58f8TehfwkK8vXzEPw8DBreV+uBjPbynmH0
8TGC3ses15sRmZeHmQ/TakNDPT3NvLfAe6gQUKVWeXsRQQ2sMaEwvNJMPX26OlQUQ0EUxYCJF0Fa
/OP1KELgpeNFNUF+ExFliwQS0JjUOGJ8oNMxzgIxqfBEhY7B4WsP0PIeam+NJ20CntEaTale9PQ0
BHhqvdRoBjw1VKLUXjiPqD0qTx8dD+Dh4W2c8q0KdBacThQzvV4+K7cGw8itr7fGgFZI9PQdeab3
JhRC5GkzogUyzYSy7GUQNd5UktSCSustRGk0Tenp07PM5qzp00MpK0JjjGaz/9zl5qxQ0dcvAG+y
QtOn+weapqeFazRlyojCvEXRCzRmnDMV8fRFTNGTkZKAxHighzKqKVkexuDAALXK7jFLpeYjQ1Qq
4HndXIgOUat5xDJTB3yA3n8y8pGXFQRU/hoS5Eeo1QGcS386AZOy3kIfGz20KLcatbefmjUIBjAY
gnmqbsDrdGz2vLRMX7ReHn5+RiBqf7xFbcE59VIxCMBHCKdDVaV3vM5bzdpriQ4xbdeCN+oUMgIv
eC8vlDz2H9mn16mpW0Cd5Y3eot4n8HTAO/hsFrv2F/y9fEFzQKfRalQevr4G99qDFLDYn1VXxkf+
Y5YaBe4gXw7rYSX7UPD1iYG8nJvJZd9PipN/QUkxfjIemdfE9cn/B9de6ncAAHjanZHLasJAFIb/
iZfSUoqWbgpdDG660SEKushW8LJwU3yBoNEI6oSgSN6gD1H6AL5CH6HL7vsE3Xbd/klOQamL0gxM
vnP755wZANd4h0L+jfAsrFBVFWEHZ6olXMCtWgsXUVF74RJzXoXL9H8KV3Dh3AlXUXbaVFDFc1pP
mVrKCjV8CDu4UjXhAlrKEy5Cq0fhEnNehMv0vwlXcOOUhau4dO4xwBg9aPRhsUEIH6uvPe0u7Qgx
DLkFN1uauSEC/geMBphhyT3O/Amz00iPkS3WmNKfoE7PkNYk00lpxrhH3mXL8My00mLOfJ8U0jbM
t1gBg3FP9+0m9Fe6a6PY6JbrunocBnpgg9kyiPU4iQLds9v1NE7qerieGG4z6+ndbmc2SWTnsR+F
iZlYyh3MmM2QTz5i31Ms2HWakp+WHjwKpostXQ+Mzxldsi6mGcy3Sz/+i5qHNprZzTXR4f5b3Ws3
XbfZcY/Vcq3Gqc5Y2vhpLBc28jigkOH1/Evq1CwH3eK4Xqq+AQNshz4AAHjabdDlcw4AAIDx3/u+
mO7u7u4eps3kdG0zbcb0MN0c544PTh8Op+tOd3d3x8l/gfd89tw9H58vj6B//EmV1//4GDYgKCSd
9DKIkFEmmWWRVTbZ5ZBTLrnlCff55FdAQYUUVkRRxRRXQkmllFZGWeWUV0FFlVRWRVXVVFdDTbXU
Vkdd9dTXQEONNNZEU800F6mFllqJ0lobbbXTXgcddRKtsxhddNVNdz30FKuX3vroq5/+BhhokMGG
iAsEbTPfAqettdBKy2ywy1IvzLPGCussdtEbG+221V7XXbVPvASrDHVTomtuuOuW2+74ZpiH7rlv
v+FWe+KRx0b44ZclRhlptLHGSLLZOOMlmyDFJBNNNsV3U003TaqZZtgizSyzzfHTbyc89SH8/ICD
PvnspC++2uGZ91565bV3nntrk/UOOeyY4y454qjL5rpgkT2uOOOsU5bbbqcHzjkfCEUkxackxyUk
hmJio/8CmGpsZwAAAAAAAf//AAJ42mNgZGBg4ANiCQYQYGJgZGBmeAQkWcA8BgAOGgEXAAABAAAA
CgAcAB4AAWxhdG4ACAAEAAAAAP//AAAAAAAAeNq9mHtIXNkdx4+P+IpGx4yjNYmwrqQhJBTSkKd5
QCXPzSZxsyYaLRa6tFApIksNpcR/Q6H+IYXkDxEKi4VkKRIQwpUybBnaJjGTNYN1MnqN3pJMu72V
3g17KU6zt59z7plxZmK6hT4YfnPu45zf7/f9vc7vXFEghKgQTWKXKOj7zoc/FGWimCfC84R8U/CD
DwbkM+Hf8a5QjWWioP5vamaPiIgHYqmguaC74EXhrsK7RT8pGiv6qOhu0e+LFov+UdxY3Fs8UHyL
3+0NvRt+usEuOVrSW/JZaUPpntJPywbKIuVnyr9bfreipmJlY3Djl5V/qhrbdGPTl9WXqn9VPV0T
qumvuR1oCDQFDkBNgZHqae4WavfVXgs01N7e3LJ5LCiCPw5+FFytE3UldZV175YN1F2pu1tyNBSs
6S85WtMf2l5zu+BFwYvQ3tCPQh/z/3F9c11l/c/rH4Cj0XPFBrHPeyX2e78RB73fiUPejGj1PhE1
YrtniZ3Qbs8Rexj3Qiegk9Ap6Ixni3NYrp3rS1AH8wYYDWgK2iRavFFWT4g2pJxg9klmnGI8w9jO
eImxg3eX8cAQc8e4nuJ5s9jMf9CLop+NHnH0iKNDHB3iaDoqDrDyoHcDbUfR9rrm7irup3l3hutz
olpLQYKXFJ3eHdHlGaLbi6FnHD3jStoD5j/m+glkcr0ILUHLUAAtLBGCQyNvW5T0cSTHkWyKw2jY
Cr4jzOlkdhfzrnLdzXUP1/3QEHPf+q/gWR9L5N/GskfUej1oYoog9q5jtsRV7/1CNHD9NZ7LaNjC
zK3ct6BNWtPdaJTWdh/4jvC+zQuj5QRaGmg5gZZJtDTEBVBehNp59h7jJZ69z9iBxpdZd4XrTqgL
ugp1Qz2gkLaSSIaQOwZvH9EEiJIgSYIkCZIkSJJkXzWcAlCtROOlQONqLz2Hk0Nkz4v9ogh0Ns/+
zl0rcV7LjAZmN3p/AWOKp03qqfSNnPeMp656Wqqe+lzlfEvN71drguqty5qXWuaKWtevOQbQblTU
sCbAWOt96Htf2dxhhY1Wd9Ajic1t7O2y2lH4p1nzCJr3RqgtjepNWuoOUQ5fF54uPJMZxD4ef/08
EV9MPH1GLNnEkkMs4T1RpfSJi2bs3OJ9jl9n8essPp3Fp7P49AsV1wfge5C5h7g+zLxW9DiGP07w
/CR0Cjqt8jeJf5P4NolPLXzq4tNf49Np/Dkj+pgzAN8heBiMU8x7wLNpdHgERfHrY2gGegItINPk
/SK0BC1DFeCtQOMUmr3M4DnM2KqyzVXZ1i0tADYXTDaYbDDZYLJZ8YoVr1jhskLWH1dnlKuzyVXZ
lOZ0VXMbYK0BTSl/uOiLp0UlMqvRPADVKkvKDPmUzJAZ4aJjDIkxJCaQeB+JYbLkD1gvLo4zV3Lv
ZRxizRzPynL0ac/So1vVQJcaWM58GUl+FBk8qUDmBEhXQbqK7BHQroJ2FVkuGZmEq6O5pmuGo1B2
KAmOliCrk6zVq2KQcQieY6w1uJ+S9QO8T6A55Ca43whaV3vhzyBc0Ta1QOeINrTqxEvd0BjXJehM
3YRa4LlbYU7CyxFfB9ErfBXVMfgQFA9B8BAED7UVXV0JLeRYyHim9w5Lx5+VFX+Wjr8k8WejQ0TV
FFlP/Ph7qOJP7ikG13JH8mMwik+jr8XbDqVdFbZIZ8r6dVpG1s8yddrPDunJlPKkr11KR1dKVbw1
zbJrtZuXEXFVt2d07V4gA/M1fFMUzmJlC/vJTEmg3ayOQrk3RYiM+awoTOkonFVR+BaYV7NiTFYH
A26jcHHhkoKLpbLniPS08oTEmRKn1d4KPsYr1NBOPN8FdUN9ajc39G6eojuqzokpk/tFaAlahkrA
5Sos2frLDNqMLhLVq6x6lsy1N7Jy7M29si2jCS1CS9AyVK/iuAUufqyl4ywJyqSKZ5lFx9SOKz2X
ytrTHZ01KZA5eC6Fd1J4J4V3UngHLbHltK7849qe42IbtbgJauF6O6h2Qn7eJoipBJo4SH2JbYfB
NQyuW+AaRoMFcN0SZ/HPO95fxTnoPPvYBe8eu+s98A6zu94D8y1213vk9xga/5FMCKN1GK1/i9Zh
tA6j9S/JiHFiL0G+GyAYxzfDxGECWw2DZoE4HCcOx3XOG6BbAN0C6BZAt6D2Hj+ra7My+7CyTSqT
4YewQYyZN1QOBRhroW3MbFKROprZeXbzfG33Sep4c3V9t3U9M7CJgU3C2MTQHUYYe9B3QueZcwE5
F6F23r/HeIn37zN2EMt+txHHHnHsYepuI4497mOPiNqhBlXHITtPQ+9Uhuo40nk5h54J1UvldiAS
qam9bWpvj4LUAamT5+2bWd62s5A6eUjDII2ANAxS2V1HQOqA1NFITZCaIA2D1ARpBKSmRiproAlS
UyONg9TUSKPa86b2vKE9HwapBVITpKb2vAlSC6QWSC2Q0v2D1FVVu1khk5U7CrIoyFyQRUEWVV3h
Ae7X8vS5rhcxUMVBFdO1MQ4qenPovNqfYiCJa1/ZujOMKz/5mkfR3M6q5FE0j+VU8gTX+bVS+ieC
f66j+QT+uY5/RvBPHP/IPn4EFBFQRHRvGwFFBBSmRiBj+zkoPtf+GQXJCEhugmQEJHGQ3MyLxEn8
MwmiEfwzCaqb+GcS/4zqHmlS7wT38Y/fufegWx/vB7ge5P0Qa8e4N7if4voBcqaZ8wiaQ88Ec0ye
LUJL0DK0DaQp1W1up9LvhPZAe6F9qm67unuzdffmqnOb371Je9to5Fc3f9ecR/q87tjWOlKT60Vo
CVqG6jL9lh8Ffs+1ds6z1cnFPx3aSpI8HfrS7Jxey/eqrU4voXX23PG8s9GIwiA5X1Z9oAHHSM7e
KvXO17eUnd0hgk3q+6Su7b4u3fIUoXZWOSPdYfszDbVrdmILX2t5skuq3qkXGoRLlLkz0ByU4D4E
J0dlitxz39SNyX6pC/LtkMLyrhhUO5cjooyP2RVnGJ8wPpWcud6kdbSzdIwjZSJLx2Sejr5eW0Ql
1qqCqsmcAFQLNYu3xTGeHWdXbmP2m/pjeY7tZV4fc8YgubtGuX/M+hnGJ4xz8HvKuwWqRQE6RdnT
fXtbyt7ZURYiVm1lnbZMbPoni9xThatPFWkv+fE5yDO/r5A12iY2bSTb2N7NeNHOnA6b0WTNQpa2
kAk3C1y29iJ4uJ6B5jSnENYKwkXu4+NYaxIulu6vV/RXjBX9FWNFfcWQVupTuiXRbQULBbWFgtpC
48qTNehoZ+LwePr7Rwapg37JzPeDXs01HWWSQ2VWZDk6shwdWY6a7ffwMnoq1Arp9ztYXe7fd/yT
hOpzosouPqq1/jq7t+5QdnO0Xm6mB/L1stTpwUcs9xEHbzggvYNUS50cpGRDnc4CjLK/zJVs59Sm
7LrkVwsn52S2JjkdB7aOA/+UNoeMdCw0qIro56GU5uoYN/XXKxNpFtJM/eXKzjl/+VJiGp+MeTNT
CZ/yPI3tP7Xqeti+2qoVSIn9iwhwVATIfFy/SueulLX07czqjnVOxD05p2L5baVe/9vqC6JDVO8H
/9pXMdnDTeb06dk9en5XLStKIXy+UF9PQuzOtu7Q5Ze2CDyj+jQzqs4hp/V51s8aS9fmWCarh9R3
sNf3gIbXvhHsh7u/u6SlyHOtoc60p5UEGYUx1VPJfkrtV7wz3iChWNsulbFdEfnfhKUs0aCyX3aG
a19E1/eg/0W0Wtn9WqZr8/O6Sn9THdXZk4DDMzgk4PAMDgk4PFMR5ne10mMJeoT/xzfU/O+NW//n
XzrzJVZ9ZWys57VyfNRKrlQQezvw1SSREhSN+G0L41aoHysUclXKTzC/nLjfyK8QiVX4uJq5xaJF
7GTubvEN1u1Re2ubOCF2iVPiLM/e5fdNcUF8W+wVH/D7lvie+D4z+vidQEK/OCkG+J2iE7jGuXaI
31lxk987xNwYnjDEFDw+4XeB8+0DcVFMs7+0ixi/K2KOX6d4Sg51/RNKw2jQAAB42mNgYGBkAIJj
qdtPgel3x6phNABY7giYAAAA) format('woff'), url('GothamHTF-Medium.ttf')  format('truetype'), url('GothamHTF-Medium.svg#GothamHTF-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


